@model IEnumerable<DealersTrack.Models.State>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateRegion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateRegion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.stateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.stateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.stateId })
        </td>
    </tr>
}

</table>
